.contenedor{
    height: 600px;
    width: 600px;
    background-color: white;
    display: flex;
    border: 5px solid black;
    flex-direction: column;
    align-items: flex-end;
}
.item1{
    background-color: red;
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: 30px;
    padding-top: 100px;
    
    
}
.item2{
    background-color: blue;
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: 30px;
    padding-top: 100px;
}
.item3{
    background-color: green;
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: 30px;
    padding-top: 100px;
    
}
span{
    color: white;
}